# Base de datos (se genera localmente, no se sube)
*.db

# Archivos de Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
env/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/
